PORT=3000
AWS_REGION=us-east-1

COGNITO_USER_POOL_ID=us-east-1_xxxxxxxxx
COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx

DDB_USERS_TABLE=Users
DDB_TEAMS_TABLE=Teams
DDB_PROJECTS_TABLE=Projects
DDB_TASKS_TABLE=Tasks
DDB_COMMENTS_TABLE=Comments
DDB_STATUS_LOGS_TABLE=StatusLogs
DDB_ACTIVITY_LOGS_TABLE=ActivityLogs

DDB_TASKS_TEAM_INDEX=teamId-index
DDB_TASKS_ASSIGNEE_INDEX=assigneeId-index
DDB_PROJECTS_TEAM_INDEX=teamId-index
DDB_COMMENTS_TASK_INDEX=taskId-index

S3_ORIGINALS_BUCKET=mini-jira-originals-changeme
S3_RESIZED_BUCKET=mini-jira-resized-changeme

SNS_TASK_ASSIGNMENT_TOPIC=arn:aws:sns:us-east-1:000000000000:TaskAssignmentTopic

CW_NAMESPACE=MiniJira
